{% extends 'rango/base.html' %}
{% load static %}
{% block title_block %}
    About Rango
{% endblock %}
{% block body_block %}
    <h1>About</h1>  

    <button class="btn btn-primary"
        onclick="alert('You clicked the button using inline JavaScript.');">
        Click me - I run on vanilla JavaScript!
    </button>
    <button class="btn btn-pri"" id="about-btn">
        Click me - I'm using JQuery! 
    </button>

    <p>This is some text for the JQuery example.</p>

    <div id="msg">Hello! I'm a further example for JQuery testing.</div>

{% endblock %}